#{
    margin: 0;
    padding: 0;
}
 
#titulo{
    font-family: sans-serif;
    color: rgb(76, 8, 107);
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: rgb(76, 8, 107);
    margin-left: 10%;
}
 
fieldset{
    border: 0;
}

body{
    background-color: white;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(136, 56, 211);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}


.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2;
    color:rgb(136, 56, 211);
    display: block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
